<% skills.forEach(function(s) { %>
  <li>
    <a href="/skills/<%= s.id %>"><%= s.language %></a>
    <form action="/skills/<%= s.id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">X</button>
    </form>
  </li>
  <% }); %>
  
  <a href="/skills/new">New Skill</a>

</ul>

</body>
</html>